*{
  margin:2px;
  padding:0;
  font-family:century gothic;
 }
 
body{
  background:url(../images/image2.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100px;
}

#main{
	float:right;
	list-style:none;
	margin-top:13px;
}
#main  li  {
	display:inline-block;
}
#main li a{
	padding:5px;
	transition:0.6s ease;
	text-decoration:none;
	font-family:poppins;
	font-size:17px;
	color:black;
}

#main li a:hover{
  background-color:white;
  color:blue;
}
#main .active{
	background-color:#ebe1e1;
}
.text {
	position:absolute;
	width:600px;
	height:300px;
	text-align:center;
	margin:23% 30% 30% 23%;
	list-style:none;
}
.text h1{
	text-align:center;
	font-size:45px;
	color:#180585;
}
.text a{
	border:1px solid white;
	padding:10px 25px;
	text-decoration:none;
	margin-top:8px;
	display:inline-block;
	color:white;
	font-size:20px;
	font-family:poppins;
}
.text a:hover{
	background-color:white;
	color:#0f12b8;
}
	